---
import T7Layout from '../layouts/T7Layout.astro';

const title = 'Introducer Disclosure';
const description =
  'UK Mortgages Worldwide operates as an unregulated introducer to FCA-authorised mortgage brokers.';
---

<T7Layout title={title} description={description} h1="Introducer Disclosure">
  <p>
    UK Mortgages Worldwide operates as an unregulated introducer. We are not
    authorised by the Financial Conduct Authority. We do not provide mortgage
    advice or recommendations. When you submit an enquiry, we pass your
    details to FCA-authorised mortgage brokers who provide the regulated
    advice and application.
  </p>
  <p>PLACEHOLDER: full introducer disclosure copy to be added.</p>
</T7Layout>
