---
import T7Layout from '../layouts/T7Layout.astro';

const title = 'Terms of Use';
const description = 'Terms of use for UK Mortgages Worldwide.';
---

<T7Layout title={title} description={description} h1="Terms of Use">
  <p>PLACEHOLDER: full terms of use to be added before launch.</p>
</T7Layout>
